h1{
    text-align: center;
    color: red;
    border-style: dashed;
    margin-top: 150px;
}
h2{
    text-align: center;
    color: green;
    border-style: dashed;
    margin-top: 50px;
}
P{
    text-align: center;
    color: brown;
    border-style: dashed;
    margin-top: 50px;
}
h1{
    text-align: center;
    color: peru;
    border-style: dashed;
    margin-top: 50px;
}